@{
    ViewBag.Title = "About";
}


<h1>About</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>What we offer</h3>
            <p>
                MedicalBillingCode is transforming the healthcare experiance with the most powerful, easy to use, flexiable resource for all users.
                We provide public users the ability to find diagnostic codes(ICD-10) to determin pricing of diagnoses and procedures.
                We want you to be ready before you get that bill from your provider.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Our Mission</h3>
            <p>
                MedicalBillingCode believes that healthcare deserves tools that are as modern, well-designed, and easy-to-use as the ones encountered elsewhere in our daily lives.
                Our mission, therefore, is to re-platform healthcare with modern, source-based solutions. To provide patients and consumers with the medical source in improving their lives.
            </p>
        </div>
    </div>
</div>