@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Medical Billing Code</h1>
    <p class="lead">
        To provide the public the ability to find diagnostic codes in relation to health care diagnoses and provide estimated pricing for that specific diagnosis .
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Search for a diagnosis/procedure.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get List of Diagnoses</h2>
        <p>Search from a list of diagnoses.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get List of Procedures</h2>
        <p>Search from a list of procedures.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>