@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Medical Billing Code</h1>
</div>


<div class="box">
    <div class="col-md-12">
    <input type="search" id="search" placeholder="Search Diagnosis/Procedure" />
        </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>About </h2>
        <p>
           Have you been afraid to go to the doctor because of the cost? Are you unsure if you should have that procedure because you can not afford it?
        </p>
        <p>
            We are an organization that provides public users the ability to find diagnostic codes in relation to health care diagnoses and procedures.
            These diagnoses and procedures provide ICD-10 medical codes and give your price of that code.
            It is ment to help users with any billing questions prior to seeing a physician.
        </p>
       
    </div>
    
</div>