body {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:5em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top:25px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.navbar-brand,
.nav navbar-nav{
    color: black;
}
   

/* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 580px;
    }
text-box {
    width:100%;
}


/*NAV BAR*/
.navbar-brand{
    margin-right:15px;
}
.navbar-nav a{
    text-decoration:none;
    color:black;
}
/*SEARCH BAR*/
.top {
    display: inline-table;
    position: relative;
    margin-left: 10px;
}
.input-group{
    position:relative;
    width:850px;
    margin-top:5px;
    float:right;
}
/*FOOTER */
footer {
    background-color: lightblue;
    position: relative;
    padding: 20px;
    width: 100%;
}
.footer_nav{
    display:inline-block;
}
section {
    display: inline-grid;
    margin-right: 8em;
}
.list a{
   text-decoration:none;
   color:black;
   display:block;
}
.title{
    position:relative;
    text-transform:uppercase;
}

/*INTRO HOME PAGE*/

.intro {
    color: black;
    font-weight: bold;
    padding: 2em;
}
.intro h2{
    text-align:center;
    font-family:Calibri;
}
.who{
    text-align:center;
    padding:2em;
    margin-top:2em;
}
p{
    font-size:15px;
}

/*ERROR PAGE*/
.image {
    width: 500px;
    height: 500px;
}

.error-text {
    margin-top: 50px;
}
