body {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top:25px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.navbar-brand,
.nav navbar-nav {
    color: black;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 580px;
}
text-box {
    width:100%;
}
footer ul li {
    list-style: none;
    display: inline-block;
    margin-right:2em;
    padding:0;
}
.info{
    padding:0;
    margin:0;
    border-top:solid black;
    width:100%;
}


/*ERROR PAGE*/
.image{
    width:500px;
    height:500px;
}
.error-text{
    margin-top:50px;
}