
@{
    ViewBag.Title = "My Error Page";
    Layout = null;
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/bootstrap")
}

<body>
    <div class="container" style="background-color:white">
        <div class="row">
            <div class="col-md-6">
                <div class="img-responsive">
                    <img src="https://i.pinimg.com/originals/f2/e1/44/f2e14499abbcc3961ee2a7e55239cd37.jpg" class="image" alt="sadmaskemoji" />
                </div>
            </div>
            <div class="col-md-6 error-text">
                <div style="text-align:center; padding:5px; color:red ">
                    <h1>
                        OOPS PAGE NOT FOUND!
                    </h1>
                    <br />
                    <h2>
                        We are working on it.
                    </h2>
                    <br />
                    <h2>
                        Please try the option below.
                    </h2>
                    <br />
                    <h3>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h3> @*link name , action method name , controller name*@
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</body>